$font-stack:    Georgia, sans-serif;

body {
  width: 100%;
  height: 100%;
}

header {
  font: 100% $font-stack;
  color: #FFF;
  background-color: #777;
  width: 70%;
  height: 100px;
  text-align: center;
}

nav {
  font: 100% $font-stack;
  color: #FFF;
  background-color: #444;
  width: 70%;
  height: 40px;
  text-align: center;
}

.content {
  font: 100% $font-stack;
  color: #333;
  background-color: #FFF;
  width: 70%;
  height: 400px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

main{
  background-color: #DDD;
  width: 40%;
  height: inherit;
}

aside{
  background-color: #AAA;
  width: 35%;
  height: inherit;
  float: end;
}

footer{
  font: 100% $font-stack;
  color: #FFF;
  background-color: #444;
  width: 70%;
  height: 60px;
  text-align: center;
}
